{% extends "index.html" %}

{%block principal %}

<link rel="stylesheet" type="text/css" href="/assets/css/arvore.css"/>
<script src="/assets/js/arvore.js"></script>
<main class="text-center bg_secundario">
	<h3 class="tx_primario">Árvores</h3>
	<div id="content" class="col-12">
		<div class="row">
			<div id="detalhes" class="col-lg-2 col-sm-12 border"><hr>
				<div id="obs">
					<p>Pressione o botão "Adicionar" abaixo para inicializar a raiz da árvore.</p>
					<p>Em seguida, pressione os nós diretamente para realizar operações.</p>
				</div><hr>
				<div id="atributos">
					<h5>Detalhes</h5>
					<label for="#tamanho">Tamanho: </label>
					<span id="tamanho" class="badge badge-light"> 0 </span><br>
					<label for="#altura">Altura: </label>
					<span id="altura" class="badge badge-light"> 0 </span><br>

                    <div>
                        <label for="#lblraiz">Raiz: </label>
                        <span id="lblraiz" class="badge badge-light"> * </span>
                        <button type="button" class="btn btn-info btn-sm" id="addroot">Adicionar</button><br>
                    </div>
				</div><hr>
			</div>
			<div id="apresentacao" class="col-lg-10 col-sm-12 border">
                <ul id="treecontainer" class="tree"></ul>

                </ul>
			</div>
		</div>
	</div>
</main>

<div id="contextmenucontainer">
    <div id="menu">
        <button type="button" class="btn btn-info btn-lg" id="menu_add">Adicionar</button><br>
        <button type="button" class="btn btn-warning btn-lg" id="menu_edit">Editar</button><br>
        <button type="button" class="btn btn-danger btn-lg" id="menu_rem">Remover</button><br><hr>
        <button type="button" class="btn btn-secondary btn-lg" id="menu_abort">Cancelar</button>
    </div>
</div>


{% endblock %}