{% extends "index.html" %}

{%block principal %}

<script src="/assets/js/fcfs.js"></script>
<main class="text-center bg_secundario">
	<h3 class="tx_primario">First-Come-Firt-Served</h3>
	<div id="content" class="col-12">
		<div class="row">
			<div id="detalhes" class="col-lg-2 col-sm-12 border"><hr>
				<div id="obs">
				</div><hr>
			</div>
			<div id="apresentacao" class="col-lg-10 col-sm-12 border">
				<img class="col-6" src="/assets/images/pacman.gif" alt="Logo da UFPB">
				<img class="col-6" src="/assets/images/pacman2.gif" alt="Logo da UFPB">
			</div>
		</div>
	</div>
</main>

{% endblock %}