<!DOCTYPE html>
<html>
<head>
    <title> {{ titulo }} </title> <!--usando uma variável no jinja2-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- assume a tela disponível do site seja o tamanho da tela do dispositivo.-->
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/root.css"/>
    <style type="text/css">
    </style>
    <!-- JavaScript assets -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" defer src="/assets/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg_primario fixed-top">
            <!-- Brand -->
            <a class="navbar-brand" href="/">TAD's</a>
            <ul class="navbar-nav text-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Listas
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item tx_secundario" href="/listaSequencial">Sequencial</a>
                        <a class="dropdown-item tx_secundario" href="/listaSimplesmenteEncadeada">Simplesmente Encadeada</a>
                    </div>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="/pilha">Pilhas</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="/fila">Filas</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Árvores
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item tx_secundario" href="/arvore">Padrão</a>
                        <a class="dropdown-item tx_secundario" href="/avl">AVL</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Grafos</a>
                </li>
            </ul>
        </nav> 
    </header>

    {% block principal %}
    {% endblock %}

    <footer class="bg_primario">
        <div class="row mx-0">
            <div class="col-sm-12 col-lg-6 text-center">
                <br><strong><p>&reg;Copyright 2018. Todos direitos reservados.</p></strong>
            </div>
            <div class="col-sm-12 col-lg-6 text-right small pr-4">
                <strong>
                    <p>Desenvolvedores:
                        <br><a class="tx_primario" href="http://lattes.cnpq.br/2683321092521435" target="blank">Leandro Gomes</a>: leandronascimento@cc.ci.ufpb.br
                        <br><a class="tx_primario" href="http://lattes.cnpq.br/8252106657987378" target="blank">Luyza Ellen</a>: luyzadomingos@cc.ci.ufpb.br
                        <br><a class="tx_primario" href="http://lattes.cnpq.br/5516398050336349" target="blank">Victor Koehler</a>: koehlervictor@cc.ci.ufpb.br
                    </p>
                </strong>
            </div>
        </div>
    </footer>
</body>
</html>
