{% extends "index.html" %}

{%block principal %}

<main class="text-center bg_secundario">
	<h3 class="tx_primario">Este é a página de apresentação do trabalho e da equipe.</h3>
	<h5>Deverá ser implementada por último</h5>
	<lu>Lista de tarefas e dicas
		<li>Trabalhar sempre em um ramo diferente do master.</li>
		<li>As cores devem seguir o template, se necessário exceções discutir com todos.</li>
		<li>A principio escreveremos os comando de java script (Jquery) no mesmo arquio html, posteriormente passamos para um arquivo separado</li>
		<li>O link para a página de lista sequencial já está funcionando.</li>
		<li>Luyza deve fazer o link para o lattes, assim como os demais.</li>
		<li>Qualquer outra tarefa que sergir é só escrever na sequência.</li>
		<li><a target="about_blank" href="http://jinja.pocoo.org/docs/2.10/">tocumentação do jinja2</a></li>
		<li>...</li>

		<li></li>
	</lu>
</main>

{% endblock %}