{% extends "index.html" %}

{%block principal %}

<main class="text-center bg_secundario">
	<style>
		main {
			margin-top: 50px;
		}

		.row-main {
			display: flex;
			width: 70%;
			margin-left: 15%;
		}
		
		.column-secundary {
			flex: 30%;
			padding-top: 40px;
			padding-bottom: 30px;
		}

		.column-principal {
			flex: 70%;
			padding-top: 50px;
			padding-bottom: 30px;
		}

		.column-image {
			height: 100%;
			background: url(/assets/images/ufpb-logo.png);
			background-size: contain;
			background-repeat: no-repeat;
		}
	</style>
	<h1 class="tx_primario">{{ titulo }}</h1> <!-- Consulte o título do projeto em main.py -->
	<div class="row-main">
		<div class="column-principal">
			<h4>Universidade Federal da Paraíba</h4>
			<h5>Bacharelado em Ciência da Computação</h5>
			<h5>Estrutura de Dados - 2018.1</h5>
			<ul style="text-transform: capitalize;">
				<li>leandro gomes do nascimento - 20170010070</li>
				<li>luyza ellen domingos do nascimento - 20170002257</li>
				<li>victor jose de sousa koehler - 20170068974</li>
			</ul>
		</div>
		<div class="column-secundary">
			<div class="column-image"></div>
		</div>
	</div>
</main>

{% endblock %}