{% extends "index.html" %}

{%block principal %}

<main class="text-center bg_secundario">
	<h3 class="tx_primario">Lista Simplesmente Encadeada</h3>
	<div id="content" class="col-12">
		<div class="row">
			<div id="detalhes" class="col-lg-2 col-sm-12 border"><hr>
				<div id="obs">
					<p>Obs.: "dicas de como usar a aplicação"</p>
				</div><hr>
				<div id="atributos">
					<h5>Detalhes</h5>
					<label for="#tamanho">Tamanho: </label>
					<span id="tamanho" class="badge badge-light"> 0 </span><br>
					<label for="#cabeca">Início: </label>
					<span id="cabeca" class="badge badge-light"> nulo </span><br>
					<label for="#cauda">Fim: </label>
					<span id="cauda" class="badge badge-light"> nulo </span>
				</div><hr>
				<div id="interacao" class="col-12">
					<h5>Interagir</h5>
					<div class="row">
						<div class="col-6">
							<label>Entradas: </label>
							<input class="col-12 nopadding text-center" type="text" name="posicao" title="Entradas em branco adiciona/remove ao fim da lista" placeholder="Posição">
						</div>
						<div class="col-6">
							<div id="entrada" class="caixa" title="Informe o valor da caixa">
								<input type="text" id="valor" placeholder="valor">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-6 nopadding">
							<button type="button" class="btn btn-info btn-sm" id="add">Adicionar</button>
						</div>
						<div class="col-6 nopadding">
							<button type="button" class="btn btn-danger btn-sm" id="rmv">Remover</button>
						</div>
					</div>
				</div><hr>
			</div>
			<div id="apresentacao" class="col-lg-10 col-sm-12 border">
				<div id="start" class="comeco"></div>
			</div>
		</div>
	</div>
</main>
<!-- Código em java Script que será transferido depois para um arquivo separado.-->
<script type="text/javascript">
	$(document).ready(function() {
		$('#add').click(function() {
			$('#apresentacao').append('<div id="caixa'+5+'" class="caixa float-left" style="position: absolute;"><input type="text" value="'+$('#valor').val()+'" disabled></div>');
			$('#caixa5').offset({top: $('#entrada').offset().top, left: $('#entrada').offset().left});
			$('#caixa5').animate({top: $('#apresentacao div:last').offset().top-$('#entrada').offset().top+3, left: $('#apresentacao div:last').offset().left-$('#entrada').offset().left+45}, 1500);
		});
		$('#rmv').click(function() {
			console.log("posição da entrada: top "+$('#entrada').offset().top +" left: "+$('#entrada').offset().left);
			console.log("posição de start: top "+$('#start').offset().top +" left: "+$('#start').offset().left);
			console.log("posição da úlitma div: top "+$('#apresentacao div:first').offset().top +" left: "+$('#apresentacao div:first').offset().left);
		});
	});
</script>

{% endblock %}