{% extends "index.html" %}

{%block principal %}

<script src = "assets\js\listaSequencial.js"></script> 
<main class="text-center bg_secundario">
	<h3 class="tx_primario">Lista Sequencial</h3>


	<div id="content" class="col-12">
		<div class="row">
			<div id="detalhes" class="col-lg-2 col-sm-12 border"><hr>

				<div id="obs">
				
						<p>Antes de começar defina o tamanho da sua lista </p>
						<div class = "row">

					<div class="col-6 nopadding">
							<input id="funfa" class="col-11 padding-top 50px padding-bottom 50px text-center" type="text" name="funfa" title="Entrada para definir o tamanho da lista " placeholder="Tamanho">
						</div>	
					<div class="col-6 nopadding">
							<button type="button" class=" col-7.8  btn btn-info btn-sm" id ="btntam">Confirmar</button>
						</div>
					</div>
				</div><hr>
		
				<div id="atributos">
					<h5>Detalhes</h5>
					<label for="#nelementos">Nº de elementos: </label>
					<span id="nelementos" class="badge badge-light"> 0 </span><br>
					<label for="#tamanho">Tamanho: </label>
					<span id="tamanho" class="badge badge-light"> 0 </span><br>
				</div><hr>

				<div id="interacao" class="col-12">
					<h5>Interagir</h5>
					<div class="row">


						<div class="col-6">
							<div id = "entrada" class="caixa" title="Informe o valor da caixa">
								<input type="text" id = "valor" name = "valor" placeholder="valor">
							</div>
						</div>

						<div class="col-6">
							<label>Entradas: </label>
							<input class="col-12 nopadding text-center" type="text" id = "posicao" name="posicao" title="Entradas em branco adiciona/remove ao fim da lista" placeholder="Posição">
						</div>

					</div>
					<div class="row">
						<div class="col-6 nopadding">
							<button type="button" class="btn btn-info btn-sm" id="btnadd">Adicionar</button>
						</div>
						<div class="col-6 nopadding">
							<button type="button" class="btn btn-danger btn-sm" id="btnrmv">Remover</button>
						</div>
					</div>Buscar na lista por:
					<div class="row">
						<div class="col-6 nopadding">
							<button type="button" class="btn btn-success btn-sm" id="btnpos">Posição</button>
						</div>
						<div class="col-6 nopadding">
							<button type="button" class="btn btn-success btn-sm" id="btnval">Valor</button>
						</div>
					</div>
				</div><hr>
			</div>

			<div id="animacao" class="col-lg-10 col-sm-12 border">
				<div class="col-12 nopadding">
					<div class="comeco2"></div>
				</div>
				<div id="apresentacao" class="col-12 nopadding"></div>
			</div>
	</div>
</main>

{% endblock %}