{% extends "index.html" %}

{%block principal %}
<script src="/assets/js/shortest.js"></script>
<main class="text-center bg_secundario">
	<h3 class="tx_primario">Maior prioridade primeiro</h3>
	<div id="content" class="col-12">
		<div class="row">
			<div id="detalhes" class="col-lg-2 col-sm-12 border"><hr>
				<div id="obs">
					<p>Pressione o botão "Adicionar" abaixo para inicializar a raiz da árvore.</p>
					<p>Em seguida, pressione os nós diretamente para realizar operações.</p>
				</div><hr>
				<div id="atributos">
					<h5>Detalhes</h5>
					</div><hr>
			</div>
			<div id="apresentacao" class="col-lg-10 col-sm-12 border">
                

			</div>
		</div>
	</div>
</main>

{% endblock %}