{% extends "index.html" %}

{%block principal %}

<script src="/assets/js/prioridade.js"></script>
<style type="text/css">
	.apps {
	    min-height: 130px;
	    background-image: url('/assets/images/app_source.gif');
	    background-repeat: no-repeat;
	    background-size: 52%;
		border-radius: 10%;
		border: 1px solid green;
		padding: 10px;
	}
	.processo {
		display: unset;
		float: right;
		width: 150px;
	    height: 80px;
		border-radius: 20%;
		border: 1px solid green;
		padding: 5px;
		background-color: #fefe00;
		margin: 2px;
		}
</style>
<main class="text-center bg_secundario">
	<h3 class="tx_primario">Maior prioridade primeiro</h3>
	<div id="content" class="col-12">
		<div class="row">
			<div id="detalhes" class="col-lg-2 col-sm-12 border"><hr>
				<div id="obs">
				</div><hr>
			</div>
			<div id="apresentacao" class="col-lg-10 col-sm-12 border">
				<div class="row">
					<div class="col-2"></div>
					<div class="col-3">
						<div class="apps text-right" id="app1">
							APP-1<br>
						</div>
					</div>
					<div class="col-2"></div>
					<div class="col-3">
						<div class="apps text-right" id="app2">
							APP-2
						</div>
					</div>
					<div class="col-2"></div>
				</div>
				<hr>
				<div class="row">
					<div class="col-2" style="min-height: 500px">
						<h5>Fila de processos</h5>
						<hr>
						<div id="proList">
						</div>
					</div>
					<div class="col-10">
						<img class="col-3 float-right" src="/assets/images/pacman2.gif" alt="Processador executando os Jobs">
					</div>
				<div class="row">
			</div>
		</div>
			<hr>
	</div>
</main>

{% endblock %}